image: docker:latest

stages:
  - build
  - deploy

maven-build:
  image: maven:3.5.3-jdk-8
  stage: build
  script:
    - mvn package


s3-upload:
  image: napp/docker-aws-cli
  variables:
      AWS_DEFAULT_REGION: $AWS_DEFAULT_REGION
      AWS_SECRET_ACCESS_KEY: $AWS_SECRET_ACCESS_KEY
      AWS_ACCESS_KEY_ID: $AWS_ACCESS_KEY_ID
      AWS_S3_LOCATION: s3://s3-code-deploy-ec2
  stage: deploy
  before_script:
    - apt-get update
    - apt-get --quiet install --yes openjdk-8-jdk
    - apt-get --quiet install --yes maven

  script:
    - ls
    - mvn clean install -DskipTests
    - cd target
    - ls
    - echo $AWS_SECRET_ACCESS_KEY
    - cd target
    - aws s3 cp learn-rest-api-0.0.1-SNAPSHOT.jar $AWS_S3_LOCATION
  when: on_success
  stage: deploy # assigns the stage as deploy
  environment: production
  only:
    - develop
